.navbar{
    width: 26%;
    height: 100%;
    right: 0px;
    top: 0px;
    position:fixed;
    background-color: plum;
}

.main{
    margin: 0px;
    margin-right: 26%;
}

.div{
    align-items: center;
    width: 100%;
    height: 450px;
    top: 0px;
}

/* 
Textos inicio
*/
.titulo{   
    font-size: 50px;
    color: rgb(107, 25, 128);
    padding-top: 10px;
    text-align: center;
}

.subtitulo{
    font-size: 40px;
    color: rgb(107, 25, 128);
    text-align: center;
}

.texto{
    margin-left: 3%;
    margin-right: 3%;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: justify;
}


/* 
Textos inicio
*/

body {
    margin: 0;
    padding: 0;
    background-image: url("https://www.bing.com/images/search?view=detailV2&ccid=7aK%2bTKcK&id=894967D01BC9377AFAC34EBB0FCD5CB14B355E80&thid=OIP.7aK-TKcKlGoR8gXXiKuM7gHaEv&mediaurl=https%3a%2f%2fstatic.vecteezy.com%2fsystem%2fresources%2fpreviews%2f002%2f204%2f194%2foriginal%2ftechnology-background-design-in-white-color-free-vector.jpg&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.eda2be4ca70a946a11f205d788ab8cee%3frik%3dgF41S7FczQ%252b7Tg%26pid%3dImgRaw%26r%3d0&exph=1229&expw=1920&q=Tecnologia+backgorund+white&simid=608052179074441099&FORM=IRPRST&ck=C9C34FF9D15AA48EC138BE9FF714D92E&selectedIndex=0&itb=0");
}

.section{
    background-color: rgb(0, 253, 253);
    width: 100%;
    height: 450px;
}

.section2{
   
    width: 100%;
    height: 400px;
    

}